*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

appsettings.Development.json

.vscode/

node_modules/
wwwroot/lib/
*.log

Migrations/*Snapshot.cs

.idea/

.vscode/
*.DS_Store

.vs/

*.log

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
